html {
  direction: rtl;
}

*:not(i) {
  font-family: 'Cairo', sans-serif !important;
}

.content-wrapper {
  position: relative;
}

.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #DDD;
  overflow: hidden;
  transition: 0.6s;
  opacity: 0;
  z-index: -99;
  visibility: hidden;
}

.loadingContainer.active {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.loadingContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  background: #F3F3F3;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0px 0px 10px 0px #1c45ef;
}

.loadingContainer::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 25px;
  background: #1c45ef;
  border-radius: 50% 50% 0 0;
  z-index: 2;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes rotate{
  0%
    {
      transform: translateX(-50%) rotate(360deg);
      opacity: 1;
    }

  100%
    {
      transform: translateX(-50%) rotate(-360deg);
      opacity: 1;
    }
}

.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link.active, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link.active { color: #FFF; }
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link.active:before, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link.active:before { background: #FFF; }

.push-notifications-container {
  position: fixed;
  top: 63px;
  left: 0px;
  width: 400px;
  max-height: 300px;
  overflow: auto;
  z-index: 99;
  box-sizing: border-box;
  padding: 10px 20px;
  direction: rtl;
  text-align: right;
}

.push-notifications-container .notification {
  display: block;
  margin-bottom: 5px;
  padding: 10px 10px;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.1);
  color: #555;
}

.push-notifications-container .notification.success {
  background: #34d895;
  color: #FFF;
  font-weight: bold;
}

.push-notifications-container .notification.error {
  background: #f91117a3;
  color: #FFF;
  font-weight: bold;
}

.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link.active:before {
  background: #FFF;
}

/***************** RTL settings ************************/
.sidebar > .nav .nav-item .nav-link {
  padding: 15px 30px 15px 30px;
}

.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link:before {
  left: auto;
  right: 10px;
}

.sidebar > .nav .nav-item .nav-link[aria-expanded="false"] i.menu-arrow {
  transform: rotate(180deg);
}

.nav {
  padding-left: auto;
  padding-right: 0;
}

.sidebar > .nav .nav-item .nav-link i.menu-arrow {
  margin-left: 0;
  margin-right: auto;
}

.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link
{
  padding: 10px 30px 10px 0px;
}

.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link:before, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link:before {
  right: 15px;
}

.nav .nav-item.dropdown i, .navbar-nav .nav-item.dropdown i {
  margin-right: 0;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.language-dropdown .dropdown-menu .dropdown-item .flag-icon-holder {
  margin-right: 0px;
  margin-left: 10px;
}


.mr-md-3, .mx-md-3 {
  margin-right: 0px !important;
  margin-left: 0.5rem !important;
}

.dropdown-toggle::after {
  margin-right: 0.255em;
  margin-left: 0;
}

.sidebar > .nav .nav-item .nav-link .menu-title {
  font-weight: 700;
  font-size: 14px;
}

.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  color: #555;
}

.card .card-title {
  text-align: right;
}

.table {
  text-align: right;
}

.logout-nav {
  margin-right: auto;
}

.navbar-nav {
  padding-right: 0px;
}

.navbar-toggler {
  color: #FFF;
  font-size: 25px;
}

.ajaxContainer.loading {
  position: relative;
}

.ajaxContainer.loading::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
}

.card-img-top {
  width: 200px;
  margin: 0px auto;
}

/* ########################################## */
/* ########### TEMPORARY MESSAGES ########### */
/* ########################################## */
.message {
  display: block;
    text-align: center;
    background: #54c554bf;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'cairo';
    font-size: 15px;
    background: #f9f9f9;
    color: #555555;
    border: 1px #ddddddc7 solid;
    margin-bottom: 10px;
}

.message.success {
  background: #54c554bf;
  color: #ffffff;
  border: 1px #35b33582 solid;
}
.message.error {
  background: #d04653ed;
  color: #ffffff;
  border: 1px #d04652 solid;
}

.img-preview {
  display: block;
  flex-shrink: 0;
  width: 150px;
  max-height: 150px;
  background: #f9f9f9;
  border: 1px #DDD solid;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.img-preview .deleteImage,.img-preview .deleteGallery {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  background: #FFF;
  border-radius: 0px 10px 0px 10px;
  font-size: 20px;
  padding: 5px;
  box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.05);
  color: #333;
}

.img-preview img {
  vertical-align: middle;
  max-height: 130px;
}

i.fas{
  margin: 0 !important;
}
