.content-wrapper {
  position: relative;
}

/* #########  START LOADING SPINNER  ##### */
/* ##################################### */
.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #DDD;
  overflow: hidden;
  transition: 0.6s;
  opacity: 0;
  z-index: -99;
  visibility: hidden;
}

.loadingContainer.active {
  opacity: 1;
  z-index: 2;
  visibility: visible;
}

.loadingContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 40px;
  height: 40px;
  background: #F3F3F3;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0px 0px 10px 0px #1c45ef;
}

.loadingContainer::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 25px;
  background: #1c45ef;
  border-radius: 50% 50% 0 0;
  z-index: 2;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes rotate{
  0%
    {
      transform: translateX(-50%) rotate(360deg);
      opacity: 1;
    }

  100%
    {
      transform: translateX(-50%) rotate(-360deg);
      opacity: 1;
    }
}
/* #########  END LOADING SPINNER  ##### */
/* ##################################### */

.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link.active, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link.active { color: #FFF; }
.sidebar > .nav .nav-item:not(.hover-open) .collapse .sub-menu .nav-item .nav-link.active:before, .sidebar > .nav .nav-item:not(.hover-open) .collapsing .sub-menu .nav-item .nav-link.active:before { background: #FFF; }

.push-notifications-container {
  position: fixed;
  top: 63px;
  right: 0px;
  width: 400px;
  max-height: 300px;
  overflow: auto;
  z-index: 99;
  box-sizing: border-box;
  padding: 10px 20px;
}

.push-notifications-container .notification {
  display: block;
  margin-bottom: 5px;
  padding: 10px 10px;
  background: #fff;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: -5px 5px 10px 0px rgba(0,0,0,0.1);
  color: #555;
}

.push-notifications-container .notification.success {
  background: #34d895;
  color: #FFF;
  font-weight: bold;
}

.push-notifications-container .notification.error {
  background: #f91117a3;
  color: #FFF;
  font-weight: bold;
}

.sidebar > .nav > .nav-item:not(.nav-profile) > .nav-link.active:before {
  background: #FFF;
}

.logout-nav {
  margin-left: auto;
}

.navbar-toggler {
  color: #FFF;
  font-size: 25px;
}

.ajaxContainer.loading {
  position: relative;
}

.ajaxContainer.loading::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
}

.card-img-top {
  width: 200px;
  margin: 0px auto;
}


/* ########################################## */
/* ########### TEMPORARY MESSAGES ########### */
/* ########################################## */
.message {
  display: block;
    text-align: center;
    background: #54c554bf;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'cairo';
    font-size: 15px;
    background: #f9f9f9;
    color: #555555;
    border: 1px #ddddddc7 solid;
    margin-bottom: 10px;
}

.message.success {
  background: #54c554bf;
  color: #ffffff;
  border: 1px #35b33582 solid;
}
.message.error {
  background: #d04653ed;
  color: #ffffff;
  border: 1px #d04652 solid;
}

.img-flex {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.img-preview {
  display: block;
  flex-shrink: 0;
  width: 150px;
  max-height: 150px;
  background: #f9f9f9;
  border: 1px #DDD solid;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

.img-preview .deleteImage,.img-preview .deleteGallery {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  background: #FFF;
  border-radius: 0px 10px 0px 10px;
  font-size: 20px;
  padding: 5px;
  box-shadow: -1px 1px 4px 0px rgba(0,0,0,0.05);
  color: #333;
}

.img-preview img {
  vertical-align: middle;
  max-height: 130px;
}

i.fas{
  margin: 0 !important;
}

.circle{
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: #f1f1f1;
  border-radius: 50%;
  margin: 0px 5px;
}

.circle.active {background:#43EB7B;}
.circle.disabled {background:#FF5858;}
